.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #faf5e9;
}
.section {
  padding-block: 30px 50px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 15px;
}
.header {
  width: 100%;
  background-color: #009b4d;
  padding: 15px;
}
